body {
    text-align: center;
}

#calculation-container {
    text-align: center;
}

#checkbox-group {
    display: flex;
    flex-direction: column;
}

.checkbox-container {
    flex-direction: row;
}